 .NavBar{
    background-color: rgb(242, 242, 242);
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    padding: .5rem;
}
a .NavBar{
    cursor: pointer;     
}
 