.App{
  padding: 1rem;
}
a {
  list-style: none;
   color: rgb(6, 6, 6);
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-style: normal;
   font-weight: 600;
   font-size: 18px;
   padding: 1rem;
  text-decoration: none;
}
.Option{
  color: rgb(22, 22, 50);
  text-decoration: none;
}


